body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    background-color: #f7f7f7; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

header {
    display: flex;
    align-items: center;
    background-color: #3f51b5; 
    padding: 15px;
    color: #fff; 
    border-radius: 5px;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

header .info {
    font-size: 18px;
}

header h1 {
    margin-bottom: 5px;
}

header p {
    font-style: italic;
    margin: 0;
}

main {
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

section h2 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list li, .projects-list li {
    margin-bottom: 5px;
    color: #666; 
}

.skills-list li:before, .projects-list li:before {
    content: "•"; 
    margin-right: 10px;
    color: #3f51b5; 
}
